# --- micro-ROS: transporte serial (UART) hacia el agente ---
CONFIG_MICRO_ROS_ESP_XRCE_DDS_MIDDLEWARE=y
CONFIG_MICRO_ROS_ESP_NETIF_ENABLE=n
CONFIG_MICRO_ROS_ESP_UART_TRANSPORT=y

# UART0 (mismo puerto USB de flasheo/monitor)
CONFIG_MICRO_ROS_APP_STACK=16000
CONFIG_MICRO_ROS_APP_TASK_PRIO=5
